<p id="notice"><%= notice %></p>

<h1>Tournamnets</h1>

<table>
  <thead>
    <tr>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Results</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournamnets.each do |tournamnet| %>
      <tr>
        <td><%= tournamnet.startDate %></td>
        <td><%= tournamnet.endDate %></td>
        <td><%= tournamnet.results %></td>
        <td><%= link_to 'Show', tournamnet %></td>
        <td><%= link_to 'Edit', edit_tournamnet_path(tournamnet) %></td>
        <td><%= link_to 'Destroy', tournamnet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournamnet', new_tournamnet_path %>
